---
import "@fontsource/m-plus-rounded-1c";
import favicon from "../assets/favicon.svg";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Links</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Links to all my social profiles" />
    <meta property="og:title" content="Links" />
    <meta property="og:description" content="Links to all my social profiles" />
    <meta property="og:url" content="https://links.alvgaona.com/" />
    <meta property="og:type" content="website" />
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:title" content="Links" />
    <meta
      property="twitter:description"
      content="Links to all my social profiles"
    />
    <meta property="twitter:creator" content="@alvgaona" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href={favicon.src} />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
    ---system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

  html {
    font-family: var(---system-ui);
    background-color: #f6f6f6;
  }

  html, body {
    margin: 0;
    height: 100%;
    width: 100%;
  }
</style>
